---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Section from "../components/Section.svelte";
import { getCollection } from "astro:content";

const experiences = (await getCollection("experience")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="h-screen">
    <main class="flex h-full">
      {
        experiences.map(({ data, body }) => (
          <Section
            open
            client:visible
            title={data.title}
            {body}
            startDate={data.startDate}
            endDate={data.endDate}
            logo={data.logo}
          />
        ))
      }
    </main>
    <Footer />
  </body>
</html>
