---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Section from "../components/Section.svelte";
import { getCollection } from "astro:content";
import * as JackGdll from "../jackgdll.md";

const experiences = (await getCollection("experience")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="h-screen">
    <main class="flex h-full overflow-x-auto">
      <Section
        open
        showTitle
        client:visible
        title={JackGdll.frontmatter.title}
        startDate={new Date(JackGdll.frontmatter?.startDate)}
        logo={JackGdll.frontmatter.logo}
      >
        <JackGdll.Content />
      </Section>
      {
        experiences.map(async ({ data, render }) => {
          const Component = await render();
          return (
            <Section
              client:visible
              title={data.title}
              startDate={data.startDate}
              endDate={data.endDate}
              logo={data.logo}
            >
              <Component.Content />
            </Section>
          );
        })
      }
    </main>
    <Footer />
  </body>
</html>
